a {
  color: #000;
}

button{
  background-color: #EDD892;
  border: none;
}
h1{
  font-family: Noway;
  font-size: 60px;

}
h2{
  font-family: Noway;
  font-size: 30px;

}
h3{
  font-family: Noway;
  font-size: 24px;
}

p {font-family: Avenir;
  font-size: 16px;}
/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 30;
  font-family: Avenir;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  width: 220px;
  text-decoration: none;
}
.header img{
  padding-left: 25%;
  margin-top: -8px;
  position: absolute;
}

@media (min-width: 1200px) {
  .header img {
    padding-left: 1%;
  }
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/*_____________________FINN_________________header_________________*/
/*_____________________SECTION GIF_________________*/
.section {
  text-align:center;
}

.prez {
  color: #f1f1f1;
  padding: 1%;
}

.prez button{
  height: 53px;
  width: 190px;
  margin-top: 2%;
}

@media (min-width: 48em) {
  .prez {
    width: 35%;

    margin-left: 32.5%;
  }
}

/*_____________________SECTION vidéo_________________*/


h2{display: inline-block;}
#dateetheure{
  display: inline-block;
}

.date{color: #919191;}



.video-wrap 1 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  max-width: 1920px;
  margin: 0 auto;
}
.video-wrap 1 iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: 1080px;
              }
/*_______________________________________section___________big_img_____________________*/
.containerimgbigg{
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  z-index: 100;
}
.imgbigggg{
  width: 90%;
}
.imgprez{
  margin-top: 2%;

}
@media (min-width: 48em) {
  .containerimgbigg{
    padding-left: 3%;
    padding-right: 3%;
  }
  .imgbigggg{
    display: inline;
    float: right;
    width: 60%;
  }
  .imgprez{
    display: inline-block;
    float: left;
    width: 30%;
    margin-top: 10%;
  }
}
/*_______________________________________section___________VIdeo2_____________________*/

.video-wrap 2 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  max-width: 1920px;
  margin: 0 auto;
}
.video-wrap 2 iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: 1080px;
              }

@media (min-width: 48em) {

  .video-wrap 1 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  max-width: 1920px;
  margin: 0 auto;
}
  .video-wrap 1 iframe {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  max-height: 1080px;
                }

  .video-wrap 2 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  max-width: 640px;
  margin: 0 auto;
}
  .video-wrap 2 iframe {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  max-height: 740px;
                }


  .Video1{display: flex;
    margin-left: 5%;}
  .my_video_1{
    display: flex;
    margin-left: 5%;}
  #descrividéal{
    margin-left: 10%;
    margin-right: 10%;
    width: 35%;
  }
  h2{display: inline-block;}
  .time {
    display: inline-block;
    color: #000;
    font-size: 10px;
  }
  .date{
    display: inline-block;
    color: #919191;
    font-size: 10px;
    padding-left: 10px;
  }

}

#containeurvidéal2{
  z-index: 1000;
  position: relative;
}

.podcast{
  z-index: 1000;
  position: relative;
}

/*_____________________SECTION____podcast____________________*/
.podcast{
  width: 80%;
  text-align: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1000;
  position: relative;
}

.player {
  margin-top: 5%;
  background: #242628;
  background: -moz-linear-gradient(top, #242628 0%, #000000 100%);
  background: -webkit-linear-gradient(top, #242628 0%, #000000 100%);
  background: linear-gradient(to bottom, #242628 0%, #000000 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242628', endColorstr='#000000', GradientType=0);
  position: relative;
  width: 100%;
  z-index: 2;
}

.splitTxt,
.icons {
  color: #ffffff;
}

.trackDetails {
  text-align: center;
  margin: 4px auto;
  width: 300px;
  height: 38px;
  border: 1px solid #1e1e1e;
  background: #000000;
  border-radius: 4px;
  padding: 6px;
}

.title,
.artist {
  color: #999;
  -moz-user-select: none;
  left: 167px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.artist {
  font-size: 12px;
}

.playlistIcon,
.volumeIcon {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 34px;
  width: 32px;
}

.volumeIcon {
  bottom: 6px;
  display: block;
}

.controls {
  cursor: pointer;
  height: 40px;
  width: 120px;
  margin: 0 auto;
}

.controls .play,
.controls .pause,
.controls .rew,
.controls .fwd {
  float: left;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.controls .play,
.controls .pause,
.plIcon,
.volumeIcon {
  font-size: 26px;
}

.controls .pause {
  display: none;
}

.hidden {
  display: none;
}

.controls .visible {
  display: inline-block;
}

.tracker {
  cursor: pointer;
  height: 5px;
}

.ui-widget.ui-widget-content {
  border: 0;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-slider .ui-slider-handle {
  display: block;
  height: 14px;
  border-radius: 14px;
  width: 14px;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.tracker .ui-slider-range {
  background: #00dbde;
  background: -moz-linear-gradient(left, #00dbde 0%, #fc00ff 100%);
  background: -webkit-linear-gradient(left, #00dbde 0%, #fc00ff 100%);
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00dbde', endColorstr='#fc00ff', GradientType=1);
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  height: 100%;
  top: 0;
}

.volume .ui-slider-range {
  background: #333333;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.volume.ui-widget-content {
  background: #00dbde;
}

.ui-slider-handle {
  cursor: pointer;
  height: 10px;
  margin-left: -5px;
  top: 2px;
  width: 10px;
  z-index: 2;
}

.volume {
  display: none;
  right: 12px;
  position: absolute;
  top: 35px;
  height: 100px;
  width: 20px;
  box-shadow: 0px 0px 10px #000;
}

.volume .ui-slider-handle {
  display: none;
}

.playlist {
  background-color: #1e1e1e;
  list-style-type: none;
  padding-bottom: 10px;
  padding: 15px;
  position: relative;
  width: 100%;
  z-index: 1;
  display: none;
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}

.playlist li {
  color: #eeeeee;
  cursor: pointer;
  margin-bottom: 4px;
  padding: 6px 12px;
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}

.playlist li:hover {
  background: #333333;
}

.playlist li.active {
  font-weight: bold;
  background: #000000;
}

.show {
  display: block;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 0;
}

.ui-widget-content {
  background: #666666;
}

.cr {
  color: #000000;
  text-align: center;
}

.carréfontsection7{
  height: 45%;
  margin-bottom: 0;
  width: 40%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  float: right;
  background-color: #FFD900;

}

@media (min-width: 48em) {
  .carréfontsection7{
    height: 40%;
    width: 100%;
    top: 0px;
  }
  /*_____________________SECTION____end___slider_________________*/
  .swiper-container {
    width: 80%;
    height: 75%;
    position: relative;
    z-index: 100;

  }
   swiper-slide-prev{
  display: none;}
}

  .swiper-slide {
    background-color: #E8985E;

  }

  .blue {
    background-color: #E8985E;
  }

  .red {
    background-color: #E8985E;
    display: inline-block;
  }

  .green {
    background-color: #E8985E;

  }
  .contensliderend{
    padding: 0;
    margin-top: -25px;
    margin-left: 0;
  }
  .imgsliderend{
    width: 65%;
    height: 600px;
    display: inline-block;
    float: left;
    position: relative;
  }
  .txtsliderend{
    width: 20%;
    display: inline;
    font-size: 16px;
    font-family: "Century Gothic";

  }

  .txtsliderend p{
    font-size: 10px;
  }

  @media (max-width: 48em) {
    .swiper-container {
      width: 80%;
      height: 80%;

    }

    .swiper-slide {
      background-color: #fff;
    }

    .blue {
      background-color: #fff;
    }

    .red {
      background-color: #fff;
    }

    .green {
      background-color: #fff;

    }
    .contensliderend{
      margin-right: 0;
    }
    .imgsliderend{
      width: 100%;
      height: 300px;
      display: block;
    }
    .txtsliderend{
      position: relative;
      top: 10px;
      left: 1px;

    }

    .txtsliderend p{
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  /*__________________________carré__bacgrounnd____*/
  .carréfontsection4{
    height: 40%;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    float: right;
    background-color: #E8985E;
  }

  @media (min-width: 48em) {
    .carréfontsection4{
      height: 20%;
      margin-bottom: 0;
      width: 40%;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 0;
      float: right;
      background-color: #E8985E;
    }
  }

  .carréfontsection3{
    height: 50%;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
    float: right;
    background-color: #E8985E;
  }

  @media (min-width: 48em) {
    .carréfontsection3{
      height: 100%;
      margin-bottom: 0;
      width: 40%;
      position: absolute;
      bottom: 0px;
      right: 0px;
      z-index: 0;
      float: right;
      background-color: #E8985E;
    }
  }

  .carréfontsection6{
    height: 100%;
    margin-bottom: 0;
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    float: right;
    background-color: #E8985E;
  }

  @media (max-width: 48em) {
    .carréfontsection6{
      height: 45%;
      width: 40%;
      top: 0px;
      left: 60%;
      background-color: #FFD900;
    }

  }